<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Ice Breaker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
</head>
<body>
    <div class="spinner-container" id="spinner-container">
        <div class="spinner"></div>
    </div>
    <div class="container">
        <header>
            <h1>Ice Breaker</h1>
        </header>
        <main>
            <form id="name-form">
                <input type="text" id="name" name="name" placeholder="Ingresa un nombre" required>
                <button id="magic-button" type="submit">
                    <span>Haz tu magia</span>
                    <i class="fas fa-magic"></i>
                </button>
            </form>
            <div id="result" class="hidden">
                <div class="profile-section">
                    <img id="profile-pic" src="" alt="Foto de perfil">
                    <h2>Resumen</h2>
                    <p id="summary-and-facts"></p>
                </div>
                <div class="info-section">
                    <div class="info-card">
                        <h2>Datos interesantes</h2>
                        <div id="interests"></div>
                    </div>
                    <div class="info-card">
                        <h2>Rompehielos</h2>
                        <div id="ice-breakers"></div>
                    </div>
                    <div class="info-card">
                        <h2>Temas de interés</h2>
                        <div id="topics-of-interest"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
        $(document).ready(function () {
            $('#name-form').on('submit', function (e) {
                e.preventDefault();
                $('#spinner-container').css('display', 'flex');
                $('#result').addClass('hidden');
                $.ajax({
                    url: '/process',
                    data: $('#name-form').serialize(),
                    type: 'POST',
                    success: function (response) {
                        console.log(response); // Para depuración
                        
                        // Actualizar la imagen de perfil
                        $('#profile-pic').attr('src', response.picture_url);
                        
                        // Actualizar el resumen
                        $('#summary-and-facts').text(response.summary_and_facts.summary);
                        
                        // Actualizar los datos interesantes
                        $('#interests').html('<ul>' + response.summary_and_facts.facts.map(fact => '<li>' + fact + '</li>').join('') + '</ul>');
                        
                        // Actualizar los rompehielos (si están disponibles)
                        if (response.ice_breakers) {
                            $('#ice-breakers').html('<ul>' + response.ice_breakers.map(ice_breaker => '<li>' + ice_breaker + '</li>').join('') + '</ul>');
                        } else {
                            $('#ice-breakers').html('<p>No hay rompehielos disponibles.</p>');
                        }
                        
                        // Actualizar los temas de interés (si están disponibles)
                        if (response.interests) {
                            $('#topics-of-interest').html('<ul>' + response.interests.map(topic => '<li>' + topic + '</li>').join('') + '</ul>');
                        } else {
                            $('#topics-of-interest').html('<p>No hay temas de interés disponibles.</p>');
                        }
                        
                        $('#result').removeClass('hidden');
                    },
                    error: function (error) {
                        console.log(error);
                        alert('Hubo un error al procesar tu solicitud. Por favor, intenta de nuevo.');
                    },
                    complete: function () {
                        $('#spinner-container').css('display', 'none');
                    }
                });
            });
        });
    </script>
</body>
</html>
